// Buttons
.btn-outline{
    border: 2px solid var(--primary-color);
    background-color: transparent;
    border-radius: 3px;
    width: 100%;
    padding: 18px;
    margin-bottom: 15px;
    font-size: 1rem;
    color: var(--primary-color);
    outline: none;
    cursor: pointer;
}
.btn-outline img.icon{
    width: 20px;
    margin-left: 20px;
}

/* Button Hover */
.btn-outline:hover{
    transition: 0.5s;
    border-color: var(--alternate-color);
    background-color: var(--alternate-color);
    box-shadow: 0 0 10px var(--primary-color-shadow);
}