// Color
.primary{
    background-color: var(--primary-color);
}
.secondary{
    background-color: var(--secondary-color);
}
.alternate{
    background-color: var(--alternate-color);
}
.light-grey{
    background-color: var(--light-grey);
}