/* Variables */
:root {
    --white: #fff;
    --primary-color: #A03F74; 
    --light-grey: #eee;
    --dark-grey: #191919;
    --mid-grey: #ccc;
    --mid-grey-hover: hsl(0, 0%, 20%);
    --primary-color-hover: #a03f7486; 
    --primary-color-shadow: #a03f7459;
    --secondary-color: #2E2E2E;
    --secondary-color-hover: #2e2e2eb8;
    --alternate-color: #3C3C3C;
}

/* Inputs */
:root {
    --size-norm: 8px 15px;
    --size-md: 10px 15px;
    --size-lg: 12px 15px;
}

/* Fonts */
:root {
    --font-fam: 'Poppins', 'Sans-serif';
}

/* Border & Radius */
:root {
    --border-radius-small: 4px;
    --border-radius--medium: 10px;
    --border-radius-large: 15px;
    --button-box-shadow-color: rgb(0 0 0 / 16%);
}
